.tag-group {
  display: flex;
  flex-wrap: wrap;

  margin-top: -3px;

  & > * {
    margin-top: 3px;
  }

  & > *:not(:last-child) {
    margin-right: 0.25rem;
  }
}

.tag-group--centered {
  justify-content: center;
}

.tag {
  background: var(--background-color);
  border: 1px solid var(--borderColorDim);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--bodyColor);
  display: inline-flex;
  font-size: var(--ts-1);
  font-variant: tabular-nums;
  height: auto;
  list-style: none;
  padding: 0 6px;
  opacity: 1;
  transition: all 0.3s;
  white-space: nowrap;
  align-items: center;
}

.tag-red {
  color: var(--tag-colored-fg);
  background: var(--tag-red);
  border-color: var(--tag-red);
}

.tag-green {
  color: var(--tag-colored-fg);
  background: var(--tag-green);
  border-color: var(--tag-green);
}

.tag-blue {
  color: var(--tag-colored-fg);
  background: var(--tag-blue);
  border-color: var(--tag-blue);
}
