.select {
  display: block;
  font-family: 'Source Sans 3', sans-serif;
  font-size: var(--ts-2);
  color: var(--bodyColor);
  padding: 4px 15px 4px 8px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid var(--borderColor);
  box-shadow: none;
  border-radius: 5px;
  background-color: var(--input-background);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  box-shadow: 0 0 0 1px var(--highlightColor);
}
.select:focus {
  box-shadow: 0 0 0 2px var(--highlightColor);
  outline: none;
}
.select option {
  font-weight: normal;
}
.select option.separator {
  font-size: 1pt;
  background-color: var(--borderColorDim);
}

.select[disabled] {
  color: var(--dimBodyColor);
}
