.board-top {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(200px, 380px) minmax(200px, 380px) minmax(
      200px,
      380px
    );
  gap: 0 var(--cellPadding, 15px);
  margin-bottom: var(--cellPadding, 15px);
}

.board-top__cell {
  text-align: center;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  background: var(--background-color);
  padding-top: calc(var(--cellPadding, 15px) * 2);
  img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: block;
    margin: auto;
  }
}

.board-top__name {
  color: var(--bodyColor);
  text-decoration: none;
  font-size: 1.1em;
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  &:hover {
    color: var(--highlightColor);
  }
}

.board-top__rank {
  color: var(--dimBodyColor);
  font-size: 80%;
}

.board-top__numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid var(--borderColor);
  padding: var(--cellPadding, 15px) 0;
  margin: var(--cellPadding, 15px) 0 0;
}

.board-top__links {
  width: 100%;
  border-top: 1px solid var(--borderColor);
  display: flex;
  font-weight: 600;
  font-size: 80%;
  a {
    flex-grow: 1;
    color: var(--dimBodyColor);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
    &:not(:last-child) {
      border-right: 1px solid var(--borderColor);
    }
    &:hover {
      color: var(--highlightColor);
    }
  }
}
