.footer {
  margin: 40px auto;
  max-width: 1092px;
  padding: 0 10px;
  padding-right: 90px;
  border-top: 1px solid var(--borderColor);
  color: var(--mediumBodyColor);
  @media (max-width: 499px) {
    .nav-popover-active & {
      display: none;
    }
  }
  @media (min-width: 769px) {
    display: flex;
    padding: 0 40px;
  }
}

.footer li {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.footer__languages {
  margin: 15px 0 !important;
  button {
    color: var(--bodyColor);
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__links {
  margin: 15px 0;
  padding: 0;
  a {
    text-decoration: none;
    color: var(--mediumBodyColor);
  }
  @media (min-width: 769px) {
    margin-left: auto;
  }
}
