.player {
  h1 {
    font-size: 22px;
  }
  @media (min-width: 690px) {
    display: grid;
    gap: 25px;
    grid-template-columns: 230px 1fr;
  }
}

.player-bio {
  .avatar {
    width: 85px;
    height: 85px;
    margin-right: 25px;
    float: left;
    border-radius: 3px;
    object-fit: cover;
  }
  @media (min-width: 690px) {
    .avatar {
      width: 230px;
      height: 230px;
      margin: 0;
    }
  }
}

.player__game-ranking {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.player-scores__tabs {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  border-bottom: 1px solid var(--borderColor);
  a {
    padding: 15px 10px;
    color: var(--bodyColor);
    text-decoration: none;
    &:after {
      bottom: -1px;
    }
  }
  li {
    margin-right: 10px;
  }
}

.badge {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: var(--background-color);
  color: var(--mediumBodyColor);
  box-shadow: 0px 0px 0px 1px inset var(--borderColor);
  border-radius: 50px;
  min-width: 20px;
  padding: 0 0.75em;
  font-size: 12px;
  white-space: nowrap;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3em;
  .nav-link & {
    margin-right: -2px;
  }
  top: -2px;
}

.badge--W,
.badge--C {
  font-size: 0.65em;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.badge--C {
  box-shadow: none;
  color: white;
  background: #6666ff;
}

.badge--W {
  box-shadow: none;
  color: white;
  background: #ff6666;
}

.player-scores__grid {
  position: relative;
  z-index: 0;
}

.player-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
